.menuOpen{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px -5px, rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px;
    overflow-y: auto;
    background-color: #111214;
    width: 50%;
    height: 100vh;
    padding: 2rem;
    position: fixed;
    border-radius: 5px;
    top: 0;
    right: 0;
    transition: transform 0.3 ease-in-out;
}
.listContainer{
    display: block;
    }
    .logo{
        width: 40px;
        border-radius: 5px;
        padding: 10px;
        margin: -10px;
    
    }
    .list{
        display: block;
        list-style: none;
        direction: rtl;
        
    }
    .list li{
        padding: 35px 0;
        cursor: pointer;
        color: #a7a7a7 !important;
        font-weight: bold;
    }